		DIV { margin-right:2em}
		A:link {color:brown; text-decoration:none} 
		A:visited{color:000033; text-decoration:none} 
		A:active{color:#E6E6D8; text-decoration:none}
		IMG {margin:20px}
		body {font-family: Garamond; margin-left:20px}
		.top {background-color: #ECEBFB; border-style: solid; border-color: black;
                border-width:2; padding-top: 1em;
                padding-bottom:1em; margin-top:1ex; margin-bottom:2ex}
		.bibl {background-color: #ECEBFB; border-style: solid; border-color: black; 
		border-width:2; padding-left: 1em; padding-right: 1em; padding-top: 1em; 
		padding-bottom:1em; margin-top:1ex; margin-left: 4em; 
		margin-right: 3em}
		P.notepara {color: #220C60; margin-left: 2em; margin-right: 4em;
		font-size: 11pt}
		.head {color: #220C60; font-size: 24pt; text-align:left; margin-left:.25em; font-weight:bold}
		.head1 {color: #220C60; font-size: 16pt; text-align:left; margin-left:2em; margin-bottom: 2ex; font-weight:bold}
		.head2 {color: #220C60; font-weight: bold; font-size: 13pt; margin-left: 3em;
                margin-top: 3ex; margin-bottom: 1.5ex}
		.listhead {font-weight:bold; font-size:12pt; text-align:center}
		.paracenter {text-align: center}
		.para {margin-top: 1ex; margin-bottom:2ex; font-size: 12pt; margin-left:4em; 
		margin-right: 2em}
		.list {margin-left: 2em; margin-right: 2em; font-size:12pt}
		.note {color: 000033; line-height: 14pt; margin-left: 8em; margin-right: 6em;
		margin-top: 1ex; font-size: 10pt}
		.smallcaps {text-transform:uppercase; font-size:10pt}
		.smallcaps2 {text-transform:uppercase; font-size:14pt}
